.header {
  background-color: $c-header-bg;
}

.header-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0 25px;

  &-logo {

  }

  &-links {
    display: flex;
    gap: 20px;
    color: $c-header-links;

    &-link {
      font-weight: 850;
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}

.header-mobile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 47px 0;

  &-btn {
    display: flex;
    align-items: center;
    gap: 10px;

    &-text {
      font-size: 12px;
      color: $c-header-text;
      font-weight: 850;
    }

    &-burger {
      background-color: $c-header-burger-bg;
      padding: 18px;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}

.header-mobile-media {
  display: none;
  @media (max-width: $screen-md) {
    display: flex;
  }
}

.header-desktop-media {
  display: flex;
  @media (max-width: $screen-md) {
    display: none;
  }
}
