$c-white: #ffffff;
$c-black: #000000;
$c-orange: #DFA958;
$c-milk: #FFFCEB;
$c-blue: #253159;
$c-black-secondary: #1B1A1D00;

$c-button: $c-white;
$c-button-bg: $c-orange;

$c-header-bg: $c-milk;
$c-header-links: $c-blue;
$c-header-burger-bg: $c-orange;
$c-header-text: $c-blue;

$c-main-bg-first: $c-blue;
$c-main-bg-second: $c-black-secondary;
$c-main-item: $c-white;